<div class="row">
  <div class="col-md-6">
    <img src='img/tom.png' class="img-circle img-fluid" id="about-image"></img>
  </div>
  <div class="col-md-6" id="about">
    <h2 class="noselect">Tom Bonanni</h2>
    <p class="purple">
      I'm a 22 year old guy living in New Brunswick New Jersey and attending Rutgers University. In 2013 I graduated
      from Clearview Regional Highschool and started studying Computer Programming and Cybersecurity. For the
      past 3 years of my life I have been dedicated to advancing my knowledge of computers and the internet
      in every way I can.
    </p>
    <p class="aqua">
      In the summer of 2015 I started my first internship with a company called Sielox. I learned
      how to sucessfully execute a SQL Injection on a LAMP (Linux, Apache, MySQL, PHP) web application. After I found
      the vulnerability I then learned how to prevent it on a code level by sanitizing the user's input.
      My cybersecurity work with this company sparked my interest in Web Development.
    </p>
    <p class="pink">
      This last summer I had an opportunity to
      advance my skills even further by working on a MEAN (MongoDB, Express.js, Angular.js, Node.js) application for a new start up.
      Our vision is to create a universal electronic lock that can be controlled from any Smart device.
      My role in this project has been to design backend API services written in Node.js for the client application, maintain
      the Amazon Web Services Ubuntu image, manage the source code with GitHub, and document the API services.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-2 col-md-offset-3">
    <a href="https://www.github.com/tombonanni" class="btn btn-secondary btn-block">
      <i class="fa fa-github fa-5x"></i>
    </a>
  </div>
  <div class="col-md-2">
    <a href="https://www.linkedin.com" class="btn btn-secondary btn-block">
      <i class="fa fa-linkedin fa-5x"></i>
    </a>
  </div>
  <div class="col-md-2">
    <a href="https://www.twitter.com" class="btn btn-secondary btn-block">
      <i class="fa fa-twitter fa-5x"></i>
    </a>
  </div>
</div>
