<div class="row">
  <div class="col-md-12">
    <center>
      <button class="btn btn-info">
        <p class="20 text-center">"The most respectful person I've done business with"</p>
      </button>
    </center>
  </div>

  <div class="col-md-12">
    <center>
      <button class="btn btn-info">
        <p class="20 text-center">"His family must be very proud of him"</p>
      </button>
    </center>
  </div>

  <div class="col-md-12">
    <center>
      <button class="btn btn-info">
        <p class="20 text-center">"The elegance of his code could make a grown man cry"</p>
      </button>
    </center>
  </div>
</div>
