<div class="row">
  <div class="col-md-12">
    <blockquote class="blockquote">
      <pre><code>
      GET /humans/tom -> 200 OK

      {
        "name": "Tom",
        "age": 22,
        "job": "Web Developer",
        "projects": ["chat", "sniper-bot"],
        "about": "Is nice to animals and humans."
      }
      </code></pre>
    </blockquote>
    <br>
    <h2>Welcome!</h2>
    <p>
      This is a minimal web page that I set up that acts as an extension of my resume. My philosophy in life is to keep things simple and honest, so I've made this webpage to show you what I have been working on.
    </p>
    <p>
      If you are looking for personal information about me I suggest you go to the About page in the upper navbar, or if you want to take a look at the projects I am working on, go to the Projects page.
    </p>
  </div>
</div>
