<div class="row">
  <div class="col-md-12">
    <ul>
      <h2>
      <li class="step">Step 1: Download Discord <a target="_blank" href="https://discordapp.com/download">here</a>.
      <li class="step">Step 2: Follow <a target="_blank" href=" https://discordapp.com/oauth2/authorize?client_id=177972494584512522&scope=bot&permissions=0 ">this</a> link to add the bot to your server!
      <li class="step">Step 3: The bot will now be listening in all text channels. To get a list of working commands, type !help in the chat.
    </ul>
  </div>
</div>
