p {
  font-size: 16px;
}

.aqua::-moz-selection { /* Code for Firefox */
  color: black;
  background: #0eedde;
}

.aqua::selection {
  color: black;
  background: #0eedde;
}
.pink::-moz-selection { /* Code for Firefox */
  color: black;
  background: #eda3f7;
}

.pink::selection {
  color: black;
  background: #eda3f7;
}
.purple::-moz-selection { /* Code for Firefox */
  color: black;
  background: #b08cf2;
}

.purple::selection {
  color: black;
  background: #b08cf2;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

ul {
  list-style-type: none;
}

.chat-window ul {
  position: absolute;
  bottom: 0;
  overflow:hidden-lg-up;
}

span.username {
  color: #9564ef;
  font-weight: bold;
}

.chat-window {
  height: 500px;
  overflow-y: scroll;
}

.user-window {
  height: 500px;
  overflow-y: scroll;
}

.btn-primary {
  background-color: #b08cf2;
  border-color: inherit;
}

.btn-primary:hover {
  background-color: #9564ef;
  border-color: inherit;
}

.btn-primary:focus {
  background-color: #9564ef;
  border-color: inherit;
}

.btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus,
.btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus {
  background-color: #7c52c9;
  border-color: inherit;
}

.form-control:focus {
  border-color: #b08cf2;
}
